<?xml version="1.0"?>
<config>
    <modules>
        <Web4Pro_AjaxAdding>
            <version>0.1.0</version>
        </Web4Pro_AjaxAdding>
    </modules>
    <frontend>
		 <routers>
            <checkout>
                <args>
                    <modules>
                        <Web4Pro_AjaxAdding before="Mage_Checkout">Web4Pro_AjaxAdding</Web4Pro_AjaxAdding>
                    </modules>
                </args>
            </checkout>
            <ajaxadding>
                <use>standard</use>
                <args>
                    <module>Web4Pro_AjaxAdding</module>
                    <frontName>AjaxAdding</frontName>
                </args>
            </ajaxadding>
        </routers>
        <layout>
            <updates>
                <ajaxadding>
                    <file>ajaxadding.xml</file>
                </ajaxadding>
            </updates>
        </layout>
    </frontend>  
	<global>
        <models>
            <ajaxadding>
                <class>Web4Pro_AjaxAdding_Model</class>
            </ajaxadding>
        </models>
        <blocks>
			 <ajaxadding>
				<class>Web4Pro_AjaxAdding_Block</class>
			</ajaxadding>
            <catalog>
                <rewrite>
                   <product_list>Web4Pro_AjaxAdding_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <ajaxadding>
				<class>Web4Pro_AjaxAdding_Block</class>
			</ajaxadding>
            <checkout>
                <rewrite>
                   <cart_minicart>Web4Pro_AjaxAdding_Block_Cart_Minicart</cart_minicart>
                </rewrite>
            </checkout>
            <!--checkout>
                <rewrite>
                   <cart_minicart>Web4Pro_AjaxAdding_Block_Cart_Sidebar</cart_minicart>
                </rewrite>
            </checkout-->
        </blocks>
        <helpers>
            <ajaxadding>
                <class>Web4Pro_AjaxAdding_Helper</class>
            </ajaxadding>
        </helpers>
    </global>
</config>
