<?xml version="1.0"?>
    <config>
        <modules>
           <Web4Pro_CustomPayment>
              <version>0.1.0</version>
           </Web4Pro_CustomPayment>
        </modules>
        <frontend>
        <layout>
            <updates>
                <custompayment>
                    <file>custompayment.xml</file>
                </custompayment>
            </updates>
        </layout>
    </frontend>    
       <global>
         <blocks>
            <custompayment>
                <class>Web4Pro_CustomPayment_Block</class>
            </custompayment>
            <adminhtml>
             <rewrite>
                    <customer_grid>Web4Pro_CustomPayment_Block_Adminhtml_Customer_Grid</customer_grid>
                </rewrite>
                <rewrite>
                    <customer_edit_tabs>Web4Pro_CustomPayment_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                </rewrite>
             </adminhtml>
            </blocks>
            <models>
                <custompayment>
                    <class>Web4Pro_CustomPayment_Model</class>
					<resourceModel>custompayment_mysql4</resourceModel>
                </custompayment>
            <custompayment_mysql4>
                <class>Web4Pro_CustomPayment_Model_Mysql4</class>
                <entities>
                    <custompayment>
                        <table>custompayment</table>
                    </custompayment>
                </entities>
            </custompayment_mysql4>
            </models>
                <events>
					<customer_register_success>
						<observers>
							<custompayment>
								<type>singleton</type>
								<class>Web4Pro_CustomPayment_Model_Register_Success_Observer</class>
								<method>apply_start_money</method>
							</custompayment>
						</observers>
					</customer_register_success>     
				</events>
            <resources>
                <custompayment_setup>
                    <setup>
                        <module>Web4Pro_CustomPayment</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </custompayment_setup>
                <custompayment_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </custompayment_write>
                <custompayment_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </custompayment_read>
            </resources>
        </global>
        <default>
            <payment>
                <custompayment>
                      <active>1</active>
                    <model>custompayment/PaymentMethod</model>
                    <order_status>pending</order_status>
                    <title>Credit Card (Authorize.net)</title>
                    <cctypes>AE,VI,MC,DI</cctypes>
                    <payment_action>authorize</payment_action>
                    <allowspecific>0</allowspecific>
                </custompayment>
             </payment>
        </default>
    </config>
